*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background: #b0ca72b0;
}
/*Header start*/
.hc{
    width: 100%;
}

.logo{

    position: absolute;
    top: 15px;
    left: 10px;
  
  
}
.menu{
 
    position: absolute;
    top: 38px;
    right: 20px; 
   
}
.menu ul{
    list-style: none;
}
.menu ul a li{
    display: inline-block;
    padding: 0px 15px;

}
.menu ul a {
  text-decoration: none;
  color: white;
  font-size: 25px;

}

.menu ul a :hover{
    
    color: rgb(189, 183, 183);
    transition: .3s;
  
  }

  .menu-img{
      position: absolute;
      top: 25px;
      right: 20px;
  }
  .menu-img img{
      width: 70px;
      display: none;
  }
  @media (max-width:900px){

    .menu ul a li{
   
        padding: 0px 8px;
    
    }
  }

  @media (max-width:800px){


    .menu-img img{
      
        display: block;
    }
    .menu-img{
        transition: .3s;
    }
    .butt-rotate{
        
    transform: rotate(-90deg);
    transition: .3s;
    }
    .menu{
        position: absolute;
        top: 90px;
        right:-300px;
        background: #2d2f2f;
        width: 230px; 
        transition: .3s;
     

        
        
        
    }
    .show-menu {
     
     right: 0px;
    }
    .menu ul{
        list-style: none;
        margin-bottom: 0px;
    }
    .menu ul a li{
        display: flex;
        padding: 15px;
        border-bottom: 1px solid white;
        margin: 0px 8px;
        padding-left: 60px;
    
    }
    .menu ul a  {
      text-decoration: none;
     
    
    }
   .menu ul a li:hover{
       background: #928b8b;
   }
   .menu ul a :hover{
    
    color: white;
    
  
  }

  }
  .header-text {
    position: absolute;
    top: 170px;
    text-align: center;
    width: 100%;
  }

  .header-text h2{
    color: white;
    font-size: 80px;
    font-weight: 800;
  }
  .header-text h4{
    color: antiquewhite;
    font-size: 40px;
  }
  @media(max-width:800px){
    .header-text {
        position: absolute;
        top: 96px;
        text-align: center;
        width: 100%;
      }
    .header-text h2{
        color: white;
        font-size: 55px;
        font-weight: 800;
      }
      .header-text h4{
        color: antiquewhite;
        font-size: 35px;
      }

  }
/*Header end*/



/*section1*/

.sec1{
    text-align: center;
    margin-top: -100px;

}
.sec-title{
    padding-bottom: 30px;
}
.sec-title h1{
    color: #605d8e;
    font-weight: 800;
    padding-bottom: 16px;
    border-bottom: 4px solid #8f69a7;
    width: 400px;
    margin: auto;

}
.menu-1  img{
    width: 290px;
}
.menu-2  img{
    width: 290px;
}.menu-3  img{
    width: 290px;
}

.menu-1{
    background: white;
    height: 420px;
    border-bottom: 2px solid black;
}

.menu-2{
    background: white;
    height: 420px;
    border-bottom: 2px solid black;
}
.menu-3{
    background: white;
    height: 420px;
    border-bottom: 2px solid black;
}


/*section1 end*/